@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap");

body {
  overflow-x: hidden; /* oculto la barra horizontal*/
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
}

.contenido #buttonplay {
  font-family: "Mukta", sans-serif;
  background: rgb(67 225 47 / 100%);
  border: none;
  border-radius: 3px;

  color: #100101;

  padding: 5px 35px 5px;
  font-size: 17px;
}

.contenido #buttonplay:hover {
  background: rgb(221, 220, 220);
  color: #000;
}
.contenido #buttoninfo {
  font-family: "Mukta", sans-serif;
  background: rgb(151 118 118 / 37%);
  border: none;
  border-radius: 3px;

  color: #f3ecec;
  margin-right: 13px;
  margin-left: 23px;
  padding: 5px 35px 5px;
  font-size: 17px;
}

.contenido #buttoninfo:hover {
  background: rgb(129, 121, 121);
  color: #f3ecec;
}

.contenido #iconoreproducir {
  margin-right: 10px;
  font-size: 20px;
}
.contenido #iconoinfo {
  margin-right: 10px;
  font-size: 20px;
}

#mainsection {
  background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(img/imagenprincipal.jpg) no-repeat center center;
  background-size: cover; /*abarca todo el bloque y lo hace responsivo*/
  height: 569px;
}

.contenido {
  text-align: left;
  margin: 200px 90px 20px;
}
/* contenedor principal y flechas  */

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.9); /*color del boton*/
  font-size: 40px;
  height: 50%; /*altura del 50% del contenedor */
  line-height: 40px;
  width: 50px;
  color: rgb(248, 237, 237); /*color de la flecha*/
  cursor: pointer;
  z-index: 500; /*para que la flecha quede arriba de los elementos */
  transition: 0.2s ease all;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0; /*posicion de la flecha */
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0; /*posicion de la flecha */
}

/* carousel */
.peliculas-recomendadas .contenedor-carousel {
  width: 100%; /*este contenedor abarca el 100%del espacio disponible*/
  padding: 20px 0; /*para generar un espacio con el titulo */
  overflow: hidden; /*ocultar las imagenes fuera del contenedor*/
}
.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap; /*imagenes una al lado de la otra */
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  transition: 0.3s ease all;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top; /*para sacar un margen que agregan los navegadores */
}
