@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?xfajxs");
  src: url("icomoon.eot?xfajxs#iefix") format("embedded-opentype"),
    url("icomoon.ttf?xfajxs") format("truetype"),
    url("icomoon.woff?xfajxs") format("woff"),
    url("icomoon.svg?xfajxs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exclamation-outline:before {
  content: "\e900";
}
.icon-play1:before {
  content: "\e903";
}
